.main {
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-family: "Inter-Regular", sans-serif;
}

.main-banner {
  background: linear-gradient(rgba(29, 51, 84, 0.7),
      rgba(29, 51, 84, 0.7)),
    url("../../images/cine.avif") center/cover no-repeat;
  color: var(--color-primary);
  text-align: left;
  padding: 100px 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 400px;
}

.main-banner__content {
  max-width: 600px;
}

.main-banner__title {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 16px;
}

.main-banner__description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.main-search {
  padding: 40px 0 0 0;
  background-color: var(--color-primary);
}

.main-section {
  padding: 40px;
}

.main-section-movies__title {
  font-size: 40px;
  margin-left: 2%;
}


