{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "commonjs": true,
    "es2021": true
  },
  "rules": {
    "consistent-return": "off",
    "no-console": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "linebreak-style": 0,
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }]
  }
  
}