.error-message {
  background: #ff4d4d;
  color: var(--color-primary);
  font-size: 16px;
  padding: 12px 16px;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
  margin: 10px 0;
}

.error-results__empty {
  text-align: center;
  color: var(--color-primary);
  font-size: 16px;
  padding: 20px 0;
}
