.search {
  margin-bottom: 32px;
  text-align: center;
}

.search__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.search__input {
  padding: 12px 16px;
  border: 1px solid var(--color-gray);
  border-radius: 30px;
  width: 60%;
  font-size: 16px;
}

.search__button {
  padding: 12px 24px;
  background-color: var(--color-dark);
  color: var(--color-primary);
  border: none;
  border-radius: 100px;
  font-size: 22px;
  cursor: pointer;
}

.search__button:hover {
  background-color: var(--color-gray);
  color: var(--color-primary);
}

 @media screen and (max-width: 500px) {
  .search__form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.search__input {
    width: 80%; 
  }

  .search__button{
   font-size: 18px;
   width: 80%;
   padding: 12px;
  }
} 

