.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}
.navigation__list {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}
.navigation__item {
  margin: 0;
  padding: 0;
}

.navigation__link {
  color: var(--color-primary);
  text-decoration: none;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.navigation__link:hover {
  background-color: #2c4a80;
}

@media screen and (max-width: 768px) {
  .navigation__list {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
