.movie-card {
  background-color: var(--color-primary);
  border-radius: 16px;
  width: 100%;
  max-width: 300px;
  min-height: 420px;
  box-shadow: 0 4px 10px rgba(29, 51, 84, 0.30);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(29, 51, 84, 0.25);
}

.movie-card__image-container {
  width: 100%;
  height: 272px;
  overflow: hidden;
}

.movie-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie-card__content {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding: 12px;
  margin: 0;
  box-sizing: border-box;
}

.movie-card__title {
  font-size: 18px;
  color: var(--color-dark);
  margin-bottom: 4px;
}

.movie-card__platform {
  font-size: 16px;
  color: var(--color-dark);
  margin: 0;
  padding: 2px 10px;
}

.movie-card__button {
  background-color: var(--color-dark);
  color: var(--color-primary);
  border: 2px;
  border-radius: 100px;
  padding: 14px 0;
  width: 222px;
  height: 60px;
  margin: 0 auto 20px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.movie-card__button:hover {
  background-color: var(--color-gray);
}

.movie-card__genres {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.movie-card__genre-tag {
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-size: 14px;
  border-radius: 12px;
  padding: 2px 10px;
  margin-right: 6px;
  margin-bottom: 6px;
  display: inline-block;
}

.movie-card__type {
  font-size: 16px;
  color: var(--color-dark);
  border-radius: 12px;
  opacity: 0.8;
  padding: 2px 10px;
  margin: 0;
}

.movie-card__year{
  font-size: 16px;
  color: var(--color-dark);
  border-radius: 12px;
  padding: 2px 10px;
  margin: 0;
}

/* Acciones de MyWatchList */

.movie-card__actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0 20px;
}

.movie-card__action-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.movie-card--pendiente .movie-card__action-btn {
  background-color: var(--color-dark);
  color: var(--color-primary);
}
.movie-card--viendo .movie-card__action-btn {
  background-color: #3B7080;
  color: var(--color-primary);
}

.movie-card--vista .movie-card__action-btn {
  background-color: var(--color-dark);
  color: var(--color-primary);
}

.movie-card__action-btn--delete {
  background-color: var(--color-gray);
  color: var(--color-primary);
}

.movie-card__action-btn:hover {
  opacity: 0.85;
}


/* Estados de cards */
.movie-card--pendiente {
  border: 3px solid var(--color-dark);
}

.movie-card--viendo {
  border: 3px solid #3B7080;
  box-shadow: 0 0 10px rgba(48, 202, 236, 0.298);
}

.movie-card--vista {
  border: 4px solid #48699F;
  opacity: 0.9;
}



@media screen and (max-width: 768px) {
  .movie-card {
    max-width: 320px;
    max-height: 520px;
  }

  .movie-card__image-container {
    height: 200px;
  }

  .movie-card__content {
    width: 90%;
  }

  .movie-card__button {
    width: 180px;
    height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .movie-card {
    max-width: 280px;
    max-height: 480px;
  }

  .movie-card__image-container {
    height: 180px;
  }

  .movie-card__button {
    width: 160px;
    height: 45px;
  }
}